html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: var(--main-font);
    font-size: 14px;
}

body.modal-open {
    overflow: hidden;
}

.body.no-scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &--no-padding {
        padding-top: 0;
    }

    &--without-padding{
        padding-top: 0;
        padding-bottom: 0;
    }
}

.link {
    text-decoration: none;

}
.section-wrap{
    text-align: center;
}

.section-wrap__title {
    display: inline-block;
    position: relative;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.48;
    text-align: center;
    margin-bottom: 50px;
    
}

.section-wrap__title::before{
    position: absolute;
    content: '';
    bottom:0;
    left:0;
    height: 2px;
    width: 45px;
    background-color: var(--title-text-color);

}

.section__text{
    position: relative;

    padding-left: 30px;
    
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: 1.26px;
    
    color: var(--text-color);
}