.section__title--big{
    text-transform: uppercase ;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.48;
    text-align: center;
    margin-bottom: 50px;
    
}

.accent{
    font-family: var(--main-font);
        font-size: 32px;
        font-weight: 300;
        line-height: 1.67;
        letter-spacing: 0.3px;
    
        color: var(--accent-color);

}


.holder{
    width: 50%;   
}
 .holder-right{
    margin-left: auto;
 }

.section__text::after{
    position: absolute;
    top: 12px;
    left: 0px;
    
    content: '';
    width: 20px;
    height: 2px;
    background: #353535;

}
.about{
    text-align: center;

    @media screen and (min-width: 652px) {
        display: flex;
    
        flex-direction: column;
        align-items: center;
        
    }

        @media screen and (min-width: 768px) {
            display: block;
    
        }
}

.about__item--position{
    @media screen and (min-width: 960px){
    z-index: 10;
    }
}

.about__item{
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    

    @media screen and  (max-width: 959px) {
    
        border-bottom: 6px solid rgba(76, 175, 80, 0.8);
    
        }

    @media screen and (min-width: 768px) and (max-width: 959px) {

        border-right: 6px solid rgba(76, 175, 80, .8);
        
    }

    @media screen and (min-width: 960px){
        position: relative;
        


        &:not(:first-child)::before{

            position: absolute;
                bottom: 20%;
                right: 17%;
                transform: translateX(-50%);
                content: " ";
                width: 100%;
                height: 418px;
                background: rgba(76, 175, 80, .8);
                

        }
    }

}



.about__item:first-child {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
        margin-right: 10px;
    }

     @media screen and (min-width: 960px) {
            margin-bottom: 165px;
                margin-right: 60px;
         }
    @media screen and (min-width: 960px) {
        margin-right: 110px;
    }
}