.logo{
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    color: var(--accent-color);

    @media screen and (min-width:768px){
        flex-grow: 1;
        
    }


}

.tracking-in-expand {
    animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both
}


@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}