.site-nav{
    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.site-nav__link{
    display: block;
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1.94px;
    
    color: #FFFFFF;
    padding: 10px 10px 10px 30px;

    &:hover,
    &:focus{
    color: #70BF73;
    }
}



.site-nav__item{

    @media screen and (max-width:1199px) {
        
    border-top: 1px solid var(--primary-text-color);
        
        &:last-child {
            border-bottom: 1px solid var(--primary-text-color);
        
            }
    }
    
}