.swiper {
    width: 100%;

}

 .swiper-slide {
    text-align: center;
    font-size: 14px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     align-items: center;
     width: 80%;

    padding-left: 70px;
        padding-right: 70px;
 }

 .swiper-slide__reviews{
    position: relative;
    line-height: 1.5;
    letter-spacing: 0.896px;
    color: #373737;
    margin-bottom: 80px;
 }
.swiper-slide__reviews::after{
    position: absolute;
    content: '';
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../image/quote.png);
    width: 20px;
    height: 20px;
}

 .swiper-slide__autor{
    position: relative;
    font-family: var(--title-font);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.896px;
    color: #B8B8B8;
    margin-bottom: 70px;
 }

 .swiper-slide__autor::after{

    position: absolute;
    content: '';
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../image/starts.png);
    width: 111px;
    height: 15px;
 }

 .swiper-slide__accent{
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.152px;
    text-transform: uppercase;
     color: #373737;
 }

 .swiper-button-next{
    color: var(--accent-color);
 }

 .swiper-button-prev.swiper-button-disabled{
    color: var(--accent-color);

 }

 .swiper-button-prev{
    color: var(--accent-color);
 }