.swiper {
    width: 100%;
    
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
    bottom:0;
}

.swiper-pagination-bullet-active{
    background-color: #fff;
    background-image:url(../image/home.svg) ;
    display: inline-flex;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    
}

.swiper-slide__avatar{
    background-image: url(../image/reviews/first.png);
    
    height: 85px;
    width: 85px;
    margin-bottom: 32px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.wrap{
    position: relative;
    background: #FAFAFA;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 43px;
    padding-bottom: 17px;

    margin-bottom: 16px;
    

}

.slider__text::after{
    content: '\201C';
    color: #E1E1E1;
    font-size:120px;
    position: absolute;
    top: 20px;
    left:50px;
    transform: rotate(-180deg);
}



.slider__text{
    width: 80%;
    text-indent: 54px;

    font-weight: 700;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    
    color: #000000;
  
}

.wight{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent 0 30px,
         #E1E1E1 30px 31px);
}

.swiper-slide__subtitle{
    
        font-weight: 500;
        font-size: 14px;
        line-height: 186%;
        /* or 26px */
    
        text-align: center;
    
        color: #000000;

        margin-bottom: 28px;
}

