.works{

    display: flex;
    flex-wrap: wrap;
}

.works__item{
    margin-bottom: 10px;
}

.works__item:not(:last-child){
    margin-right: 30px;
}

.works__btn{
    
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.832px;
    color: rgba(37, 37, 37, 0.5);

    background-color: transparent;
    border: none;
}